@import "variables";

p {
  font-family: DIN2014-Regular;
  font-size: 16px;
}

body {
  background-color: $black;
}

.content {
  z-index: 10;
  position: relative;
}
//
//.bg-rockstar-yellow {
//  background-color: $rockstar-yellow;
//}
//
//.bg-rockstar-darkgrey {
//  background-color: $dark-gray;
//}
//
